<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>
  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/fontawesome.min.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>

 <body>
  <section class="sidebar">
    <a href="/">
      <img src="{{ site.gravatar_url }}?s=150" height="50" width="50" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        <span id="fname">{{ site.name|split:' '|first }}</span>
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
    </section>   

    <section class="sections">
      <ul>
	<li><a href="/index.html">HOME</a></li>
        <li><a href="/about.html">ABOUT ME</a></li>        
	<li><a href="/publish.html">PUBLICATIONS</a></li>
	<li><a href="/research.html">RESEARCH</a></li>
	<li><a href="/Photos.html">PHOTOS</a></li>
	<li><a href="/blog.html">BLOG</a></li>
	<li><a href="/codes.html">CODES</a></li>
	<li><a href="/links.html">LINKS</a></li>
      </ul>
    </section>
    
    <section class="meta">
      <a href="https://github.com/{{ site.github }}" target="_blank"><i class="icon icon-github"></i></a>
      <a href="Mailto:hesiweide@gmail.com"><i class="icon icon-envelope-alt"></i></a>
    </section>    
  </section>  

    <section class="sitemeter">
        <!-- Site Meter -->
      <script type="text/javascript" src="http://s51.sitemeter.com/js/counter.js?site=s51siwei">
      </script>      
      <noscript>
      <a href="http://s51.sitemeter.com/stats.asp?site=s51siwei" target="_top">
      <img src="http://s51.sitemeter.com/meter.asp?site=s51siwei" alt="Site Meter" border="2"/></a>
      </noscript>      
      <!-- Copyright (c)2009 Site Meter -->
      
      <!-- clustrmap >
      <div id="clustrmaps-widget"></div>
      <script type="text/javascript">
      var _clustrmaps = {'url' : 'http://siweiho.github.io', 'user' : 1110250, 'server' : '2', 'id' : 'clustrmaps-widget', 
      'version' : 1, 'date' : '2013-09-01', 'lang' : 'zh', 'corners' : 'square' };
      (function (){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; 
      s.src = 'http://www2.clustrmaps.com/counter/map.js'; var x = document.getElementsByTagName('script')[0]; 
      x.parentNode.insertBefore(s, x);})();
      </script>
      <noscript>
      <a href="http://www2.clustrmaps.com/user/89710f0ea">
      <img src="http://www2.clustrmaps.com/stats/maps-no_clusters/siweiho.github.io-thumb.jpg" 
      alt="Locations of visitors to this page" />
      </a>
      </noscript>
      <!-- clustrmap -->
      
      </section>
      


    {{ content }}


</body>

</html>
